{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'stores/style.css' %}" />
    </head>
    <body>
        <h1>{{ store.name }}</h1>
        <h3>{{ store.location }}</h3>
        <a href="{% url 'home_page' %}" id="back_button"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="40px"
                viewBox="0 -960 960 960"
                width="40px"
                fill="#f4f4f4"
            >
                <path
                    d="M760-200v-160q0-50-35-85t-85-35H273l144 144-57 56-240-240 240-240 57 56-144 144h367q83 0 141.5 58.5T840-360v160h-80Z"
                /></svg
        ></a>

        <ul>
            {% for employee in store.employee_set.all %}
            <li>
                Imię: {{ employee.first_name }}<br />
                Nazwisko: {{ employee.last_name }}<br />
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
